
/* -----------------------Main each content--------------------- */
main {
    margin-top: 60px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+");
    padding-right: .25rem;
    margin-top: 7px;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: .25rem;
}
.breadcrumb a {
    text-decoration: none;
    color: black;
    word-spacing: -3px;
}
.breadcrumb {
    font-family: monospace;
    padding-left: 3px;
    padding-top: 0px;
    background-color: white;
    opacity: 0.6;
    margin-bottom: 0px;
}
.smallPageEachTitle {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-bottom: 15px;
}
.authorText {
    text-decoration: none !important; 
    color: black; 
    font-weight: bold;
    font-size: 13px;
}
.authorText:hover, .breadcrumb a:hover, .suggestionsPictureAndContent a:hover {
    color: #96cac6;
}
.smallPageEachImg img{
    width: 100%;
}
.smallPageEachContent {
    width: 100%; 
    font-size: 15px;
    overflow: hidden;
    padding: 20px 0 0;
    margin: 10px 0 0;
    border-top: 1px dashed #ebebeb;
}
.mainText {
    margin-top: 30px;
    margin-bottom: 30px;
}
.mainText {
    color: #656565;
}
.mainText .ex {
    display: block;
}
.mainText p .title {
    font-size: 18px;
    display: block;
}
.mainText a {
    color: #96cac6 !important;
}
.jsKeywordColor {
    color: mediumblue;
}
.jsStringColor {
    color: brown;
}
/* -------------------------------------- */
.suggestions {
    margin: 0;
    padding-bottom: 15px;
}
.suggestions .title-wrap {
    font-size: 12px;
    color: #96cac6;
    background-color: #f8f8f8;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
}
.suggestionsPictureAndContent img {
    width: 100%;
    display: block;
}
.suggestionsPictureAndContent a{
    font-weight: bold; 
    text-decoration: none;
    color: black;
}
.suggestionsPictureAndContent p{
    font-family: monospace;
    color: gray;
}

.sugesstionContent {
    font-size: 13px;
}